<header class="page-header">
    <h1>Mes sites internet</h1>
</header>

<div class="hero-unit">
    <h1>Saisissez un nouvel élément</h1>
    <br/>

    <div>
        <form name="siteForm">
            Lien web : <input type="text" ng-model="site.lien" ng-pattern="/^(www.)?(([a-z0-9-]){2,}\.){1,4}([a-z]){2,6}$/" autofocus required/>
            <br/>
            Commentaire : <input type="text" ng-model="site.commentaire" />
            <br/>
            <button class="btn btn-success" ng-click="submitSite(site)" ng-disabled="siteForm.$invalid">envoyer</button>
        </form>
    </div>
    <table width="100%" class='border-radius-table' id='border-radius'>
        <tr>
            <th ng-click="tri = 'lien'; reverse = !reverse">lien</th>
            <th>titre</th>
            <th>commentaire</th>
            <th ng-click="tri = 'occurances'; reverse = !reverse">occurances</th>
        </tr>
        <tr ng-repeat="site in sitesFromServer | orderBy:tri:reverse">
            <td>{{site.lien}}</td>
            <td ng-hide="!site.enCours">... En Cours ...</td>
            <td ng-hide="site.enCours">{{site.titre}}</td>
            </td>
            <td>{{site.commentaire}}</td>
            <td>{{site.occurances}}</td>
        </tr>
    </table>

</div>
