<div class="hero-unit">
    <h1>Saisissez un nouvel élément</h1>
    <br/>

    <div>
        <form name="siteForm">
            <input type="text" ng-model="site.link" autofocus required/>
            <br/>
            <input type="text" ng-model="site.desc" required/>
            <br/>
            <button ng-click="submitSite(site)" ng-disabled="siteForm.$invalid">submit</button>
        </form>
    </div>
    <table width="100%" border="1">
        <tr>
            <th>lien</th>
            <th>titre</th>
            <th>commentaire</th>
        </tr>
        <tr ng-repeat="site in sitesFromServer | orderBy:'title':'true'">
            <td>{{site.link}}</td>
            <td ng-hide="!site.enCours">... En Cours ...</td>
            <td ng-hide="site.enCours">{{site.title}}</td>
            </td>
            <td>{{site.desc}}</td>
        </tr>
    </table>

</div>
